# Node modules
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# VSCode
.vscode/

# IDE
.idea/
*.iml

# Temporary files
*.tmp
*.temp
